.homepage-ajuda{
 
 
    width: 100%;

    header{

        h1{

            font-family: 'Poopins', sans-serif;
            font-weight: 300;
            font-size: 250%;
          

        }  
    }

    .main{

        width: 100%;
        height: 90%;
   
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    

        h1{

            color: white;

        }

        

        .perguntas{

            width: 90%;
            height: 80vh;

            margin-top: 5%;
         
        

         
            .text-titulo{

                width: 100%;
                height: 8vh;
                display: flex;
                align-items: center;
                padding-left: 15%;

                h1{

                    color: #E9A209;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    font-size: 180%;
                    margin-bottom: 5%;

    
                }

                
    
                
            }

            hr{

                width: 65%;
                margin-left: 15%;

            }

            .pergunta-one{

                width: 80%;
                height: 15vh;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-left: 15%;
            
              
                gap: 11%; 
                
                h1{


                    color: black;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    font-size: 180%;


                }

                p{

                    
                    color: #4D4D4D;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 300;
                    font-size: 100%;

                }

            }



            .pergunta-two{

                width: 80%;
                height: 18vh;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-left: 15%;
                margin-top: 2%;
                
               
              
                gap: 9%; 

                  
                h1{


                    color: black;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    font-size: 180%;


                }

                p{

                    
                    color: #4D4D4D;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 300;
                    font-size: 100%;

                }
            }
            .pergunta-three{

                width: 80%;
                height: 18vh;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-left: 15%;
                margin-top: 2%;
                gap: 11%; 
            


                  
                h1{


                    color: black;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    font-size: 180%;


                }

                p{

                    
                    color: #4D4D4D;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 300;
                    font-size: 100%;

                }
            }
            


        }
        
    }

}