

.Home{

  font-family: 'Poppins', sans-serif;
  

  #inicio{

    display: flex;
    min-height: 65vh;
    width: 100%;
    position: relative;
    align-items: center;
    .cta{
        width: 40%;
        display: flex;
        flex-direction: column; 
        gap: 30px;
        margin-top: 5%;

        .titulo{

            font-size: 220%;
            color: #1d1d1d;
        }
        span{
            font-size: 110%;
            color: #e9a209;
        }
        .subtitulo{
            font-size: 100%;
        }
        .cta-botao{
            a{
                text-decoration: none;
                color: #1d1d1d;
            }
        }
    }





    #banner{
        display: flex;
        align-items: start;
        justify-content: end;
        width: 70%;
        
        img{
        width: 450%;
        z-index: 2;
        left: 15%;
        top: 3%;
        position: relative;

        }
 }

    .borda{
        margin-top: 5%;
        background-color: #fcf3df;
        width: 50%;
        height: 70%;
        position: absolute;
        border-radius: 40% 30% 0% 30%;
        top: 5%;
        right: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        
        }



        
        @media screen and (max-width: 900px) {

            #inicio{

                height: 100%;
                padding-top: 0;
            }
            #banner{
                display: none;

                img{
                    display: none;
                }
            }

            .borda{

                display: none;

            }


            .cta{

                width: 100%;
                align-items: center;
                text-align: center;

            }
        }

      
        

}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 115vh;

  .section-subtitulo{
    text-align: center;
  }
  

  #buguers {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;

    #buguer {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 12px;
      gap: 18px;
      width: 25%;
      padding: 20px;
      background-color: #fff;
      position: relative;
      overflow: hidden;
      box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.2);
      transform: box-shadow, 3s, ease;
      flex-wrap: wrap;
      justify-content: center;
      cursor: pointer;

      .buguer-imagem {
        width: 95%;
      }

      #buguer3{

        width: 75%;

      }

      a{

        text-decoration: none;
        color: #1d1d1d;


      }

    }

    .icone {
      position: absolute;
      background-color: #e9a209;
      color: #fff9ea;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 100%;
      width: 70px;
      height: 70px;
      right: -10px;
      top: -10px;
      border-radius: 0px 37.5px 0px 42.5px;
    }

    .buguer-descricao {
      color: #434343;
      text-align: center;
    }

    .buguer-avaliacao {
      p {
        color: #e9a209;
      }
    }

    .buguer-preco {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}


@media screen and (max-width: 900px) {
  #menu #buguers #buguer {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  #menu #buguers {
    flex-wrap: wrap;
    gap: 16px;
    
  }

  #menu #buguers #buguer {
    width: 50%;
  }


  

}
@media screen and (max-width: 480px) {
  #menu #buguers {
    flex-wrap: wrap;
    gap: 16px;  

  }
  #menu #buguers #buguer {
    width: 70%;
  }
}


#sobre{


  .dois{

    display: none;

  

    h1{

      font-size: 200%;
      font-weight: 600;
      text-align: center;
      color: #e9a209;
      margin-top: 15%;
    }

    p{
      font-size: 100%;
      font-weight: 200;
      text-align: start;
      color: #4d4d4d;
    }


  }


  height: 115vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  


  .top{

    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;


    .left{

      width: 50%;
      display: flex;
      flex-direction: column;
      height: 45vh;
      

      h1{

        font-size: 200%;
        font-weight: 600;
        text-align: center;
        color: #e9a209;
        margin-top: 15%;
      }

      p{
        font-size: 100%;
        font-weight: 200;
        text-align: start;
        color: #4d4d4d;

      
      }



    }

    .esquerda{

      width: 50%;
      display: flex;
      flex-direction: column;
      height: 45vh;
      
      .um{

      h1{

        font-size: 200%;
        font-weight: 600;
        text-align: center;
        color: #e9a209;
        margin-top: 15%;
      }

      p{
        font-size: 100%;
        font-weight: 200;
        text-align: start;
        color: #4d4d4d;
      }
    }

   



    }


     .direita{

      width: 50%;
      display: flex;
      justify-content: start;
      align-items: center; 
       
      .preto{

  
        background-color: black;
        width: 85%;
        height: 70%;
        border-radius: 80px;
        box-shadow: 0px 0px 12px 2px rgba(179, 179, 179, 0.2);


        img{

          width: 100%;
          height: 100%;
          border-radius: 80px;
          opacity: 0.75; 

        }


      }


     }
     .direita-topo{

      width: 50%;
      display: flex;
      justify-content: start;
      align-items: center; 
      margin-left: 5%; 
      .preto{

  
        background-color: black;
        width: 85%;
        height: 70%;
        border-radius: 80px;
        box-shadow: 0px 0px 12px 2px rgba(179, 179, 179, 0.2);


        img{

          width: 100%;
          height: 100%;
          border-radius: 80px;
          opacity: 0.75; 

        }


      }


     }

    



    img{

      width: 35%;

    }


  }
  


}





@media screen and (max-width: 900px) {

.preto{
  display: none;
}

.left{

  h1{
    display: none;
  }

  p{
    display: none;
  }

}

.um{

display: none;


}



#mobile{

  display: flex;
  height: 100%;
  margin-top: 85%;
  width: 90%;




.dois{

  display: block;




  h1{

    font-size: 250%;
    font-weight: 600;
    text-align: center;
    color: #e9a209;
    margin-top: 15%;
  }

  p{
    font-size: 120%;
    font-weight: 200;
    text-align: start;
    color: #4d4d4d;
  }


}

}

}


@media screen and (max-width: 770px) {

  .preto{
    display: none;
  }
  
  .left{
  
    h1{
      display: none;
    }
  
    p{
      display: none;
    }
  
  }
  
  .um{
  
  display: none;
  
  
  }
  
  
  
  #mobile{
  
    display: flex;
    height: 100%;
    margin-top: 135%;
    width: 90%;
  
  
  
  
  .dois{
  
    display: block;
  
    
  
    h1{
  
      font-size: 220%;
      font-weight: 600;
      text-align: center;
      color: #e9a209;
      margin-top: 15%;
    }
  
    p{
      font-size: 100%;
      font-weight: 200;
      text-align: start;
      color: #4d4d4d;
    }
  
  
  }
  
  }
  
  }


  @media screen and (max-width: 530px) {

    .preto{
      display: none;
    }
    
    .left{
    
      h1{
        display: none;
      }
    
      p{
        display: none;
      }
    
    }
    
    .um{
    
    display: none;
    
    
    }
    
    
    
    #mobile{
    
      display: flex;
      height: 100%;
      margin-top: 150%;
      width: 90%;
    
    
    
    
    .dois{
    
      display: block;
    
    
    
    
      h1{
    
        font-size: 200%;
        font-weight: 600;
        text-align: center;
        color: #e9a209;
        margin-top: 15%;
      }
    
      p{
        font-size: 80%;
        font-weight: 200;
        text-align: start;
        color: #4d4d4d;
      }
    
    
    }
    
    }
    
    }
  


    @media screen and (max-width: 450px) {

      .preto{
        display: none;
      }
      
      .left{
      
        h1{
          display: none;
        }
      
        p{
          display: none;
        }
      
      }
      
      .um{
      
      display: none;
      
      
      }
      
      
      
      #mobile{
      
        display: flex;
        height: 100%;
        margin-top: 250%;
        width: 90%;
      
      
      
      
      .dois{
      
        display: block;
      
      
      
      
        h1{
      
          font-size: 200%;
          font-weight: 600;
          text-align: center;
          color: #e9a209;
          margin-top: 15%;
        }
      
        p{
          font-size: 80%;
          font-weight: 200;
          text-align: start;
          color: #4d4d4d;
        }
      
      
      }
      
      }
      
      }
    





#avaliar{
  min-height: 115vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;

  .section-subtitulo{
    font-size: 230%;
  }

  p{

    font-size: 100%;


  }

  #avaliar_chef{

    width: 50%;
    height: auto;

  }

  .feedback-perfil{

    width: 15%;
    object-fit: cover;

  }

  #avaliar_conteudo{
    width: 50%;
  }

  #feedbecks{

    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10%;
    
    .feedbeck{

      display: flex;
      align-items: center;
      gap: 20px;
      background-color: white;
      padding: 12px;
      border-radius: 12px;
      box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.2);


    }

    .feedback-conteudo{


      p{

        display: flex;
        justify-content: space-between;
       

      }

      span{

        color: #e9a209;

      }



    }

    .um{
      color: #434343;
    }

    .dois{
      color: #434343;
    }

    

    
    
    
    


  }



}

@media screen and (max-width: 900px) {



  #avaliar{
    flex-direction: column;

  }

  #avaliar_chef{

    display: none;

  }

   #avaliar_conteudo{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }


  #avaliar .section-subtitulo{
    text-align: center;
    font-size: 180%;
  }
}

@media screen and (max-width: 700px) {

  .feedbeck{
    flex-direction: column;
  }

  #avaliar_conteudo{
    width: 100%;
  }

  i{

    width: 25%px;
  }



}

@media screen and (max-width: 560px) {
  i{

    display: none;
  }

  .nome{

    text-align: center;
    color: #000;

  }

  .feedback-perfil{

    display: none;


  }



  

}




footer{

  background-color: #ffe8b4;

  #footer_item{
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
  }

  #coptyright{
    color: #1d1d1d;
    font-weight: 500;
  }

}

@media screen and (max-width: 600px) {

#footer_item{

flex-direction: column;
gap: 20px;

}



}






}