
.cadastro {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;



    
    .mae{
        display: flex;
        flex-direction: row;
        justify-content: center;
        animation: mov 3s ease-in-out forwards;
        box-shadow: 2px 5px 10px rgb(117, 117, 117);
        background-color: #fff;
        align-items: center;
        border-radius: 30px;
        width: 80%;
        height: 90%;
    
            .imagem {
                width: 35%;
                height: 50%;
                //background-color: yellow;
            }
        
            .link{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                //background-color: chartreuse;
                width: 100%;
                margin-top: 3%;
                //gap: 8%;
                //margin-right: 20%;

                hr{
                    margin-top: 5%;
                    width: 30vw;
                    color: #4F4F4F;
                }

                a{
                   margin-bottom: 3px;
                    font-size: 100%;
                    color: #E5B000;
                    text-decoration: none;
                }
            }

        .inputs {
            display: flex;
            flex-direction: column;
           // gap: 1%;
            margin-top: 5%;
            padding: 15px;
            height: 100%;
            //margin-bottom: 5%;
            width: 50%;
            //background-color: red;
            justify-content: center;
            
            
          
            .text{
                display: flex;
                align-items: center;
                flex-direction: column;
                
                
                h2{
                    margin-bottom: 40px;
                }
                

                h3{
                    margin-top: -30px;
                }
            }
            label{
                font-size: 20px;
               
            }
    
    
            h2 {
                font: 600 50px 'Poppins';
            }
            h3{
                font: 300 20px 'Poppins';
            }
    
            input {
               
                border-radius: 62px;
                width: 80%;
                height: 15%;
                padding: 5px;
                font: 400 14px 'lato';
                border: 1px solid #36363650;
                outline: none;
                padding-left: 3%;
                font-family: 'Poppins', sans-serif;
                
            }
        }
      
    
        .botao-cadastro {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5%;
            margin-bottom: 8%;
                button{
                    width: 20vw;
                    height: 5vh;
                    border: none;
                    border-radius: 30px;
                    color: #000;
                    background-color: #E5B000;
                    font: 500 15px 'Montserrat';
                    cursor: pointer;
        
                    &:hover {
                        background-color: #000;
                        color: #fff;
                    }
                }
         
            
        }
    
    
    }
    }

   

@keyframes mov {
    0% {
        transform: translateX(-120%);
    }

    100% {
        transform: translateX(0px);
    }
}

